<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Tue-Search the ultimate mega search engine</title>
</head>
<body>
      <div class="outer">
        <img class="logo" src="{{ url_for('static', filename='img/tue_search2.png') }}" alt="search_logo">

            <form id="submit_form" method="POST" action="/">
                <input class="search" id="query_input" type="text" name="query" placeholder="Enter your query" required onkeyup="checkWordCount(this)">
                <input style="display: none;" class="search" id="" type="text" name="keytest" placeholder="0" onkeyup="checkWordCount(this)" value="0">
                <input style="display: none;" class="search" id="confirmkey" type="text" name="confirm" placeholder="0" onkeyup="checkWordCount(this)" value="0">
                <div style="display: block; margin: auto; width: 170px;"><input style="    display: inline-block;"type="checkbox" name="checkbox" value="checked" checked> <p style="display: inline-block;">Turn on Cards Search!</p><div>
            </form>
            <button  class="search_button" type="submit" form="submit_form" onclick="showProcessing()">Search</button>
            <span id="moon-button">
                <div id="moon-circle">
                  <div id="moon-overlay"></div>
                </div>
              </span>
            <div style="width: 360px;position: absolute;left: 39%;margin-top: 26px;" id="loading-text"></div>
    </div>

    {% if keytest %}
        <h2 style="display: none;" id="you_sure">{{ keytest }}</h2>
    {% endif %}
    {% if query %}
        <h2 style="display: none;" id="searched_query">{{ query }}</h2>
    {% endif %}

    <div class="overlay" id="overlay"></div>
    <div class="popup" id="popup">
        <p style="color: #000;">You search query contains more than 20 words or 10 keywords. This could have detrimental effects on you search results</p>
        <small style="color: #000; display: block;" >Don't know how to use the search query?</small>
        <a style="color: #000;margin-bottom: 1em;display: block;" href="https://www.wikihow.com/Search-Google" target="_blank">Click Me!</a>
        <img class="yousure" src="{{ url_for('static', filename='img/ru-sure-about-that.gif') }}" alt="search_logo">
        <button class="surebutton" onclick="confirmPopup()">Yes!</button>
        <button class="surebutton" onclick="deniePopup()">No!</button>
    </div>
    <script src="{{ url_for('static', filename='js/utility.js') }}"></script>
</body>
</html>